{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "globals": {
    "CONFIG": true
  },
  "rules": {
    "no-console": 1,
    "no-debugger": 1,
    "global-strict": 0
  }
}
